.gradle
/build/
*/build/
*/out/
!gradle/wrapper/gradle-wrapper.jar
/kodilla-testing2/src/main/java/com/kodilla/testing2/TrelloAdmin.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/